<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Inicio</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}sobremi/">Seplarui</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}tag/proyectos/">Proyectos</a></li>
    <li class="nav-angular" role="menuitem"><a href="{{site.baseurl}}tag/angular/">Angular</a></li>
    <li class="nav-varios" role="menuitem"><a href="{{site.baseurl}}tag/varios/">Varios</a></li>
    <li class="nav-cursos" role="menuitem"><a href="{{site.baseurl}}tag/cursos/">Cursos</a></li>
    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://ghost.org">Try Ghost</a></li> -->
</ul>
